<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear />
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="node.exe"
                  arguments=".\server\index.mjs"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\node"
                  startupTimeLimit="120"
                  startupRetryCount="3"
                  processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="NODE_SKIP_PLATFORM_CHECK" value="1" />
        <!-- Use FORWARD slashes. Put data OUTSIDE the site folder.
             Create D:\NetAtlas\data and grant Modify to IIS AppPool\YourSiteName -->
        <environmentVariable name="INVENTORY_DATA_DIR" value="D:/NetAtlas/data" />
      </environmentVariables>
    </httpPlatform>
    <staticContent>
      <remove fileExtension=".mjs" />
      <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
    </staticContent>
  </system.webServer>
</configuration>
