<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="node.exe"
                  arguments=".\.output\server\index.mjs"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\node"
                  startupTimeLimit="60"
                  startupRetryCount="3">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="INVENTORY_DATA_DIR" value=".\data" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
